* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: arial
}

.gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}


.gallery img {
    width: 100%;
    height: 280px;
    cursor: pointer;
    transition: .4s;
    border-radius: 6px;
    object-fit: cover;
}

.gallery img:hover {
    transform: scale(.8) rotate(-15deg);
    border-radius: 30px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.3)
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    transition: 0.4s;
}

.overlay .image-container {
    position: relative;
    margin: 10px;
    max-width: 90%;
    max-height: 90%;
    width: 830px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.overlay span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    font-weight: bold
}

.overlay .image-container a {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    position: absolute;
    bottom: -53px;
    right: -8px;
    margin: 10px
}

.overlay .image-container a:hover {
    background-color: #0062cc;
}

.overlay .image-container img {
   width: 100%;
    height: 100%;
    border: 10px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    animation: zoom 0.3s;
    transform: scale(1);
    transition: transform 0.4s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
